<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <!--    &lt;!&ndash;  引入样式文件 &ndash;&gt;-->
    <!--    <link rel="stylesheet" href=/layer/ui/css/layui.css" media="all">-->
</head>
<body>

<!-- 用来放分页导航条 -->
<!-- th:fragment 定义需要引入的代码块，该div包含的内容即为引用的公共内容 -->
<div th:fragment="myfooter">
    <!--  引入样式文件 -->
    <link rel="stylesheet" href="/layer/ui/css/layui.css" media="all">
    <!--    <div class="footer">-->
    <div id="test1"></div>
    <!--    </div>-->


    <!-- 2.引入分页插件的js包 -->
    <script src="/layer/ui/layui.js"></script>
    <script>

        // 3.初始化分页导航条
        layui.use('laypage', function () {

            // 获取前端的分页对象
            var laypage = layui.laypage;

            //执行一个laypage实例
            laypage.render({ // 渲染
                elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
                , count: [[${page.total}]] //数据总数，从服务端得到
                , limit: [[${page.size}]] // 每页显示条
                , curr: [[${page.current}]]
                , layout: ['prev', 'page', 'next', 'limit', 'count']
                , limits: [[${limit}]]
                , jump: function (obj, first) { // 切换页面的函数

                    //首次不执行
                    if (!first) {
                        location.href = "[[${url}]]?current=" + obj.curr + "&size=" + obj.limit
                    }
                }
            });
        });
    </script>
</div>
</body>
</html>